
body {
  background-color: #000;
  color: white;
}

#section-title {
  display: block;
  max-width: 800px;
  margin: 0 auto;
  margin-top: -5px;
  position: relative;
}

body::after {
  background: url("../imgs/wallpaper.png") no-repeat center center fixed;
  background: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.2;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

h1 {
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 5em;
  text-align: center;
}

#section-about {
  font-size: 1.3em;
  margin-top: 25px;
  text-align: center;
}

#section-quote {
  font-size: 1.2em;
  margin: 0 auto;
  margin-top: 10%;
  text-align: center;
}

#quote {
  font-size: 1.2em;
  margin: 0 auto;
}

#quote:hover {
  color: lightcyan;
  cursor: pointer;
}

#tweet-quote {
  margin-left: 30px;
}

#about {
  bottom: 0;
  text-align: right;
  padding-right: 30px;
  position: fixed;
  width: 100%;
}

a,
a:visited{
  font-size: 0.8em;
  color:#fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}